<html>
    <head>
        <script src="includes/javascript/jQuery.js"></script>
        <link rel="stylesheet" href="includes/css/style.css">
    </head>
    <body>
    <div>
        <ul class="menu">
            <li class="menuItem"><a href="/story_one.php">Story 1</a></li>
            <li class="menuItem"><a href="/story_two.php">Story 2</a></li>
            <li class="menuItem"><a href="/story_three.php">Story 3</a></li>
            <li class="menuItem"><a href="/story_four.php">Story 4</a></li>
        </ul>
    </div>
    <div>
        <h1>Secret Santa</h1>
        <h2><?php print $subtitle; ?></h2>
        <p><?php print $table; ?></p>
    </div>
    </body>
</html>